/* COMMON */
body {
    color : #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
    height: 3000px;
}
 
img {
    display: block;
}

a {
    text-decoration: none;
}

.inner {
    width: 1100px;
    margin : 0 auto;
    position: relative;
}

.btn {
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
}

.btn:hover {
    background-color: #333;
    color: #fff;
}

.btn.btn--reverse {
    background-color: #333;
    color: #fff;
}

.btn.btn--reverse:hover {
    background-color: transparent;
    color: #333;
}

.btn.btn--brown {
    color: #592B18;
    border-color: #592B18;
}

.btn.btn--brown:hover {
    color: #FFF;
    background-color: #592B18;
}

.btn.btn--gold {
    color: #D9AA8A;
    border-color: #D9AA8A;
}

.btn.btn--gold:hover {
    color: #FFF;
    background-color: #D9AA8A;
}

.btn.btn--white {
    color: #FFF;
    border-color: #FFF;
}

.btn.btn--white:hover {
    color: #333;
    border-color: #FFF;
}

/* HEADER */
header {
    /* position: relative; */
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f6f5f0;
    border-bottom: 1px solid #c8c8c8;
    z-index: 9;
}

header > .inner {
    height: 120px;
}

header .logo {
    height: 75px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

header .sub-menu {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
}

header .sub-menu ul.menu {
    font-family: Arial, sans-serif;
    display: flex; /* 수평 정렬 */
}

header .sub-menu ul.menu li {
    position: relative;
}

/* before : 인라인 요소, 가로 세로 값을 명확하게 가질 수 없다. */
/* 그렇기 때문에 정확한 레이아웃을 위해서는 블록 요소로 바꾸어주어야 한다. */
header .sub-menu ul.menu li::before {
    content: "";
    /* display: block; -> position : absolute or fixed를 사용하면 자동으로 블록 요소로 변함! */
    width: 1px;
    height: 12px;
    background-color: #e5e5e5;
    position: absolute; /* 부모 요소 기준 배치 -> 부모 요소인 li 태그의 position 참고!! */
    top: 0;
    bottom: 0;
    margin: auto 0; /* 0은 있어도 없어도 상관 없음 */
}

/* 1번째 li 태그를 찾아서 그 태그의 before 요소는 안보이는 것으로 함  */
header .sub-menu ul.menu li:first-child::before {
    display: none;
}

header .sub-menu ul.menu li a {
    font-size: 12px;
    padding: 11px 16px;
    display: block;
    color: #656565;
}

header .sub-menu ul.menu li a:hover {
    color : #000;
}

/* header .sub-menu .search .material-icons의 위치 상의 부모 요소 */
header .sub-menu .search {
    height: 34px;
    position: relative;
}

header .sub-menu .search input {
    width: 36px;
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #ccc;

    /* 요소의 크기 기준을 width height 값으로 선택하도록 */
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    color: #777;
    transition: width .4s;
    font-size: 12px;
}

header .sub-menu .search input:focus {
    width: 190px;
    border-color: #690;
}

header .sub-menu .search .material-icons {
    /* position 을 넣기전, 항상 부모 요소에 position이 있는지 확인! */
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    transition: .4s;
}

/* search.focused : 일치 선택자, JS에 의해서 search에 붙고 사라짐 */
header .sub-menu .search.focused .material-icons {
    opacity: 0;
}

header .main-menu {
    position: absolute;
    bottom: 0;
    right: 0;

    /* z-index가 1인 이유 : 카드 뉴스 및 뱃지 등이 가릴 수 있도록 하기 위함 */
    z-index: 1;
    display: flex;
}

header .main-menu .item {
    
}

header .main-menu .item .item__name {
    padding: 10px 20px 34px 20px;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

/* 메뉴에 마우스를 올렸을 때 계속해서 전체적인 호버가 유지될 수 있도록 item 속성에 hover를 부여 */
header .main-menu .item:hover .item__name {
    background-color: #2c2a29;
    color: #669900;
    border-radius: 6px 6px 0 0;
}

header .main-menu .item .item__contents {
    width: 100%;

    /* top bottom 등의 속성을 쓰지 않아 수직 위치 값이 없다면 요소의 원래 위치를 그대로 사용함! */
    /* absolute 를 사용할 경우 위치상 부모 요소를 기준으로 하기 때문에 화면의 뷰 포트 좌우 끝까지 늘어날 수 없음.. */
    position: fixed;
    left: 0;
    display: none;
}

header .main-menu .item:hover .item__contents {
    display: block;
}

header .main-menu .item .item__contents .contents__menu {
    background-color: #2c2a29;
    /* height: 200px; */
}

header .main-menu .item .item__contents .contents__menu > ul {
    /* 각 메뉴 탭의 소 메뉴가 수평 정렬 */
    display: flex;
    padding: 20px 0;
}

header .main-menu .item .item__contents .contents__menu > ul > li {
    width: 220px;
}

header .main-menu .item .item__contents .contents__menu > ul > li h4 {
    padding: 3px 0 12px 0;
    font-size: 14px;
    color: #fff;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li {
    padding: 5px 0;
    font-size: 12px;
    color: #999;
    cursor: pointer;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
    color: #669900
}

header .main-menu .item .item__contents .contents__texture {
    padding: 26px 0;
    font-size: 12px;

    /* 기본값 : repeat, 반복적으로 출력됨 */
    background-image: url("../images/main_menu_pattern.jpg");
}

header .main-menu .item .item__contents .contents__texture h4 {
    color: #999;
    font-weight: 700;
    /* font-size: 12px; */
}

header .main-menu .item .item__contents .contents__texture p {
    color: #669900;

    /* 상 중 하 */
    margin: 4px 0 14px;

    /* font-size: 12px; */
}

/* position absolute를 사용할 경우에는 부모 요소의 position이 있는지 항상 확인! */
header .badges {
    position: absolute;
    top: 132px;
    right: 12px;
}

header .badges .badge {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
    cursor: pointer;
}

/* VISUAL SECTION */
.visual {
    margin-top: 120px;
    background-image: url("../images/visual_bg.jpg");
    background-position: center;
}

.visual .inner {
    height: 646px;
}

/* 이 경우 자신의 상위 요소 중 position : relative를 가진 inner가 기준이 된다 */
.visual .title {
    position: absolute;
    top: 88px;
    left: -10px;
}

/* 자신의 상위 요소 중 제목 부분이 기준이 되어, 제목을 따라가게 된다! */
.visual .title .btn {
    position: absolute;
    top: 259px;
    left: 173px;
}

.visual .cup1.image {
    position: absolute;
    bottom: 0;
    right: -47px;
}

.visual .cup1.text {
    position: absolute;
    top: 38px;
    right: 171px;
}

.visual .cup2.image {
    position: absolute;
    bottom: 0;
    right: 162px;
}

.visual .cup2.text {
    position: absolute;
    top: 321px;
    right: 416px;
}

.visual .spoon {
    position: absolute;
    bottom: 0;
    left: 275px;
}

.visual .fade-in {
    opacity: 0;
} 


/* NOTICE SECTION */
.notice {

}

.notice .notice-line {
    position: relative;
    /* 높이를 별도로 지정해 주지 않으면 height : auto이다. 따라서 최대한 줄어들려고 한다 */
    /* 근데 notice-line inner 부분에 걸려서 200px만큼만 가지게 되는것 */
    /* 그리고 notice-line이 가지는 200px에 따라 자식 요소들이 그만큼의 높이를 가지게 된다(설정값 : 100%) */
}

.notice .notice-line .bg-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #333;
}

.notice .notice-line .bg-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #f6f5ef;
}

.notice .notice-line .inner {
    height: 62px;
    display: flex;
}

.notice .notice-line .inner__left {
    width: 60%;
    height: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
}

.notice .notice-line .inner__left h2 {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    margin-right: 20px;
}

.notice .notice-line .inner__left .swiper-container {
    height: 62px;
    flex-grow: 1;
}

.notice .notice-line .inner__left .swiper-slide {
    height: 62px;
    display: flex;
    align-items: center;
}

.notice .notice-line .inner__left .swiper-slide a {
    color: #fff;
}

/* a태그는 기본적으로 파란색이므로 바꾸어주어야 함 */
.notice .notice-line .inner__left .notice-line__more {
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice .notice-line .inner__left .notice-line__more .material-icons {
    color: #fff;
    font-size: 30px;
}

.notice .notice-line .inner__right {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.notice .notice-line .inner__right h2 {
    font-size: 17px;
    font-weight: 700;
}

.notice .notice-line .inner__right .toggle-promotion {
    width: 62px;
    height: 62px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice .notice-line .inner__right .toggle-promotion .material-icons {
    font-size: 30px;
}

.notice .promotion {
    position: relative;
    height: 693px;
    background-color: #f6f5ef;
    transition: height .4s;
    overflow: hidden; /* 요소의 크기가 줄어들면서 잘리는 부분을 숨김 처리 */
}

.notice .promotion.hide {
    height: 0;
}

.notice .promotion .swiper-container {
    /* 카드 슬라이드 3개 + 마진 10px 2개 */
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: calc((819px * 3 + 20px) / -2); /* 땡겨옴 */
    width: calc(819px * 3 + 20px);
    height: 553px;
}

.notice .promotion .swiper-slide {
    opacity: .5;
    transition: opacity 1s;
    position: relative;
}

.notice .promotion .swiper-slide-active {
    opacity: 1;
}

.notice .promotion .swiper-slide .btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* JS에서 제공하는 swiper-pagination에는 이미 position값이 들어가 있음!! */
.notice .promotion .swiper-pagination {
    bottom: 40px;
    left: 0;
    right: 0;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet {
    background-color: transparent;
    background-image: url("../images/promotion_slide_pager.png");
    width: 12px;
    height: 12px;
    margin-right: 6px;
    outline: none;
}

/* 가장 마지막에 있는 페이지네이션 동그라미 bullet 요소 */
.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
    margin-right: 0;
}

/* 현재 활성화된 페이지네이션 bullet 번호 */
.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
    background-image: url("../images/promotion_slide_pager_on.png");
}

/* 다중 선택자, 똑같은 CSS를 여러 요소에 적용! */
.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
    width: 42px;
    height: 42px;
    border: 2px solid #333;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    z-index: 1;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
    background-color: #333;
    color: #fff;
}

.notice .promotion .swiper-prev {
    left: 50%;
    margin-left: -480px;
}

.notice .promotion .swiper-next {
    right: 50%;
    margin-right: -480px;
}

/* REWARDS */
.rewards {
    position: relative;
}

.rewards .bg-left{
    width: 50%;
    height: 100%;
    background-color: #272727;
    position: absolute;
    top: 0;
    left: 0;
}

.rewards .bg-right{
    width: 50%;
    height: 100%;
    background-color: #d5c798;
    position: absolute;
    top: 0;
    right: 0;
}

.rewards .inner {
    background-image: url("../images/rewards.jpg");
    height: 241px;
}

.rewards .btn-group {
    position: absolute;
    bottom: 24px;
    right: 0;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
}

.rewards .btn-group .btn.sign-up {
    margin-right: 10px;
}

.rewards .btn-group .btn.sign-in {
    width: 110px;
}

.rewards .btn-group .btn.gift {
    margin-top: 10px;
    flex-grow: 1; /* 최대한의 너비를 사용할 수 있도록 설정 */
}

/* YOUTUBE VIDEO AREA */
.youtube {
    position: relative;
    height: 700px;
    background-color: #333;
    overflow: hidden;
}

.youtube .youtube__area {
    width: 1920px;
    background-color: orange;
    position: absolute;
    left: 50%;
    margin-left: calc(1920px / -2);
    top: 50%;
    margin-top: calc(1902px * 9 / 16 / -2);
}

.youtube .youtube__area::before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-top: 56.25%; /* 부모 너비 요소의 56.25% 만큼의 여백을 가지게 하여 16:9 비율을 가지게 함 */
}

.youtube .youtube__cover {
    background-image: url("../images/video_cover_pattern.png");
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#player {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}